h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: var(--title);
}

h1 {
  font-size: var(--s2);
  margin-bottom: var(--s1);
}

h2 {
  font-size: var(--s1);
  margin-bottom: var(--s0);
}

h3 {
  font-size: var(--s0);
  margin-bottom: var(--s-1);
}

h4 {
  font-size: var(--s0);
  margin-bottom: var(--s-2);
}

h5, h6 {
  font-size: var(--s0);
  margin-bottom: var(--s-3);
}

p {
  font-size: var(--s0);
}

a {
  color: var(--linkText);
  &:focus {
    color: var(--accentText);
    outline: thick solid var(--text);
    outline-offset: .2em;
    text-decoration: none;
    background-color: var(--accentBackground);
  }
}