:root {
  --title: #1a1c21;
  --text: #343741;

  --subduedText: #646a77;
  --subduedBackground: #f7f8fc;

  --danger: #BD271E;
  --dangerText: var(--danger);
  --dangerBackground: #f8e9e9;

  --warning: #FEC514;
  --warningText: #83650a;
  --warningBackground: #fff9e8;

  --success: #00BFB3;
  --successText: #007871;
  --successBackground: #e6f9f7;

  --accent: #F04E98;
  --accentText: #ba3d76;
  --accentBackground: #feedf5;

  --primary: #07C;
  --primaryText: #006bb8;
  --primaryBackground: #e6f1fa;

  --linkText: var(--primaryText)

  --chart1: #bd271e;
  --chart2: #e7664c;
  --chart3: #fec514;
  --chart4: #d6bf57;
  --chart5: #9ec54e;
  --chart6: #55b8b1;
  --chart7: #48a8f1;
  --chart8: #2b78c8;
  --chart9: #d36086;
  --chart10: #f04e98;
}
