@mixin sliceHoverAndFocus {
  .slice__level {
    fill: var(--accentBackground);
  }
  .slice__level--active {
    fill: var(--text);
  }
  .slice__score {
    opacity: 1;
  }
  .slice__development-marker-path {
    fill: var(--text);
  }
}

.chart-container {
  position: relative;
  padding: var(--s0);
  .rings {
    pointer-events: none;
  }
  .chart-header {
    text-align: center;
    position: absolute;
    width: 100%;
    max-width: 500px;
  }
  .charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
  }
  svg {
    width: 100%;
  }

  .slice {
    &__score {
      opacity: 0;
    }
    &__score-text {
      font-weight: 500;
    }
    &:hover {
      @include sliceHoverAndFocus;
      .slice__level, .slice__score,
      .slice__development-marker-path {
        transition: all 2s ease;
      }
    }
    &:focus {
      @include sliceHoverAndFocus;
      outline-color: var(--text);
      outline-width: 5px;
      outline-offset: 1rem;
    }
  }
}



